# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Automake related files
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
configure~
depcomp
install-sh
missing
stamp-h1
test-driver

# src build artifacts
src/.deps/
src/Makefile
src/Makefile.in

# tests build artifacts
tests/.deps/
tests/catch2/.deps/
tests/catch2/.dirstamp
tests/test_step_vector
tests/bench_step_vector
tests/*.log
tests/*.trs

# vim temp files
*.swp
